################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 2/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio3/Laboratorio3/.vs/Laboratorio3
/Laboratorio3/Laboratorio4/.vs/Laboratorio4
/Laboratorio4/.vs
/Laboratorio5/Laboratorio5/.vs/Laboratorio5
/Laboratorio6/Laboratorio6/.vs/Laboratorio6
/Laboratorio7/Laboratorio71/.vs
/Laboratorio7/Laboratorio7/.vs
/Laboratorio8/Laboratorio8/.vs/Laboratorio8
/Laboratorio9/Laboratorio9/.vs
/Laboratorio10/Laboratorio10/.vs
/Laboratorio11/Laboratorio11/.vs/Laboratorio11
/Laboratorio12/Laboratorio12/.vs/Laboratorio12
/Laboratorio12/Laboratorio13/.vs/Laboratorio13
/Laboratorio13/Laboratorio13/.vs/Laboratorio13
