################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 2/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio3/Laboratorio3/.vs/Laboratorio3
/Laboratorio3/Laboratorio4/.vs/Laboratorio4
/Laboratorio4/.vs
/Laboratorio5/Laboratorio5/.vs/Laboratorio5
/Laboratorio6/Laboratorio6/.vs/Laboratorio6
/Laboratorio7/Laboratorio71/.vs
/Laboratorio7/Laboratorio7/.vs
/Laboratorio8/Laboratorio8/.vs/Laboratorio8
